@import url('https://fonts.googleapis.com/css?family=Poppins:700,750&display=swap');

:root {
  --dBlue: #08212B;
  --bOrange: #F18805;
  --pPink: #FF5964;
  --lGreen: #BDFF5B;
  --futura: Futura,Trebuchet MS,Arial,sans-serif;
  --poppins: 'Poppins', sans-serif;;
}

/**************** Color IDs ********************/
#orange {
  color: var(--bOrange);
}

#pink {
  color: var(--pPink);
}

#green {
  color: var(--lGreen);
}

#backgroundBlue {
  color: var(--dBlue);
}

body {
  background-color: var(--dBlue);
  margin: 0;
  scroll-behavior: smooth;
}

input {
  width: 3.5em;
}

/************* Button IDs ***********************/
#btnAi {

}

#btnPs {

}

#btnAe {

}

#btnPr {

}

#btnXd {

}


/*****************  Big Name  ********************/
h1 {
  color: white;
  font-family: var(--poppins);
  font-weight: 750;
  font-size: 7em;
  margin: 0;
}

/******************  Job Title  *******************/
h2 {
  color: white;
  font-family: var(--poppins);
  font-size: 3.8em;
  font-weight: 700;
  margin: 0;
}

/********  Category Links && Skill Titles **************/
h3 {
  font-family: var(--futura);
  font-size: 2em;
  font-weight: lighter;
  margin: 0;
}

/**********************  Social Links  ******************/
h4 {
  font-family: var(--futura);
  font-size: 1.3em;
  font-weight: lighter;
  color: white;
  margin: 0;
}

p {
  color: white;
}

hr {
  color: white;
  margin-top: 1em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}


/******************* Header ********************/


.header-top {
  margin-left: 1.5em;
  display: flex;
  justify-content: space-between;
}

#logo-top {
  height: 6em;
  margin: 1em 5em 1em 1em;
}

.header-mid {
  display: flex;
}

.header-upper-mid {
  margin: 0;
  display: flex;
  align-items: center;
}

.header-upper-mid-content {
  margin-left: 1.5em;
  margin-right: 1.5em;
  float:left;
}

.header-below-mid {
  margin: 0;
  display: flex;
  align-items: center;
}

.header-below-mid-content {
  margin-left: 1.5em;
  margin-right: 1.5em;
  float:left;
}

.header-bot-wrapper {
  margin-top: 1em;
  display: flex;
  align-items: center;
}

.social-row {
  margin-left: 1.5em;
  margin-right: 1.5em;
  display: flex;
  align-items: center;
}

.social-row-content {
  width: auto;
  margin-right: 1em;
  float:left;
  bottom: 0.2em;
}

.social-row-name {
  width: auto;
  margin-right: 1em;
  float:left;
  bottom: 0.2em;
}


.social-icon {
  width: 1.3em;
}


/****************** Skill Row **********************/
.filter-text {
  margin-left: 1.5em;
  color: white;
}

.skill-row-wrapper {
  margin-left: 1.5em;
  display: flex;
}

.skill-row-content {
  margin-right: 1.5em;
  width: auto;
  float: left;
}

.skill-row-name {
  color: white;
}

.skill-row-icons {
  display: flex;
}

.skill-icon-image {
  margin-top: 0.5em;
  margin-right: 1.5em;
  height: 3.5em;
  float: left;
}


/*********** Project Showcase *************/
.showcase {
  margin-top: 3em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  display: block;
  min-height: 40em;
}

.showcase-title {
  color: white;
}

.project-display-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.project-block {
  margin: 2em 4em 4em 0px;
  width: 20%;
}

.hidden>.project-block {
  display: none;
}

.visible>.project-block {
  display: block;
}

.project-block-thumbnail {
  width: 100%;
  margin: 0;
}

.project-block-thumbnail-img {
  width: 100%;
}

.project-block-title {
  width: 100%;
  margin-top: 0.5em;
  background-color: white;
}

#projTitle {
  color: var(--dBlue);
  font-size: 2em;
}

.project-block-icons {
  display: flex;
  width: 100%;
}

.project-block-icons-img {
  position: relative;
  margin-top: 0.5em;
  margin-right: 5%;
  width: 10%;
  height: auto;
  float: left;
}

.project-block-icons-img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
