:root {
  --DBlue: #08212B;
  --BOrange: #F18805;
  --PPink: #FF5964;
  --LGreen: #BDFF5B;
}


body {
  background-color: var(--DBlue);
}

/*  Big Name  */
h1 {
  color: white;
  font-family: 'League Spartan Bold', arial;
  font-size: 12em;
  margin: none;
}

/*  Job Title  */
h2 {
  color: white;
  font-family: 'League Spartan Bold', arial;
  font-size: 6.6em;
}

p {
  color: white;
}
