:root {
  --dBlue: #08212B;
  --bOrange: #F18805;
  --pPink: #FF5964;
  --lGreen: #BDFF5B;
  --futura: Futura,Trebuchet MS,Arial,sans-serif;
  --lSpartan: 'League Spartan Bold', arial;
}

/**************** Color IDs ********************/
#orange {
  color: var(--bOrange);
}

#pink {
  color: var(--pPink);
}

#green {
  color: var(--lGreen);
}

body {
  background-color: var(--dBlue);
  margin: 0;
}

/*****************  Big Name  ********************/
h1 {
  color: white;
  font-family: var(--lSpartan);
  font-size: 7em;
  margin: 0;
}

/******************  Job Title  *******************/
h2 {
  color: white;
  font-family: var(--lSpartan);
  font-size: 3.8em;
  margin: 0;
}

/********  Category Links && Skill Titles **************/
h3 {
  font-family: var(--futura);
  font-size: 2em;
  font-weight: lighter;
  margin: 0;
}

/**********************  Social Links  ******************/
h4 {
  font-family: var(--futura);
  font-size: 1.3em;
  font-weight: lighter;
  color: white;
  margin: 0;
}

p {
  color: white;
}

hr {
  color: white;
  margin-top: 1em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}


/******************* Header ********************/


.header-top {
  margin-left: 1.5em;
  margin-top: 1.5em;
}

.header-mid {
  margin: 0;
  display: flex;
  align-items: center;
}

.header-mid-content {
  margin-left: 1.5em;
  margin-right: 1.5em;
  float:left;
}

.header-bot-wrapper {
  margin-top: 1em;
  display: flex;
  align-items: center;
}

.social-row {
  margin-left: 1.5em;
  margin-right: 1.5em;
  display: flex;
  align-items: center;
}

.social-row-content {
  width: auto;
  margin-right: 1em;
  float:left;
  bottom: 0.2em;
}

.social-icon {
  width: 1.3em;
}
/**************************************************/

/****************Skill Row*************************/
.skill-row-wrapper {
  margin-left: 1.5em;
  display: flex;
}

.skill-row-content {
  margin-right: 1.5em;
  float: left;
}

.skill-row-name {
  color: white;
}

.skill-row-icons {
  display: flex;
}

.skill-icon-image {
  margin-top: 0.5em;
  margin-right: 1.5em;
  width: 2.5em;
  float: left;
}


/***********************************************/
